<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/adminLayout}"> 
<head>    
  <title>장서 등록</title>
  <link rel="stylesheet" href="../../../static/css/common.css" th:href="@{/static/css/common.css}" /> 
  <script src="https://kit.fontawesome.com/f31fa860a2.js" crossorigin="anonymous"></script>      
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.12.1/dist/cdn.min.js"></script>  
</head>
<body x-data="{ openNaverModal : false, openIsbnModal : false, openLibraryModal: false }">
  <main class="relative w-full h-full bg-gray-100" layout:fragment="content">
    <div class="relative w-full h-screen pt-16 pl-0 lg:pl-56">
      <div class="flex flex-col h-full gap-6 p-4 overflow-y-auto">
        <div class="p-4 text-sm font-semibold bg-white border border-transparent rounded-md shadow-md text-medium shadow-gray-200/80">
          <i class="text-gray-400 fa-solid fa-book fa-lg"></i>
          장서 등록
        </div>            
        <div class="p-4 text-sm font-semibold bg-white border border-transparent rounded-md shadow-md text-medium shadow-gray-200/80">
          <div class="mb-8">
            <i class="text-gray-400 fa-solid fa-magnifying-glass fa-lg"></i>
            외부 검색
          </div>
          <div class="flex flex-col gap-6 lg:flex-row mb-8">
            <div class="flex flex-col gap-4">
              <label class="block text-sm">네이버 도서 검색</label>
              <div class="flex gap-4">
                <input class="w-full px-4 py-2 text-sm border border-gray-300 rounded-md shadow" type="text" placeholder="도서검색">
                <button class="px-4 py-2 text-sm text-white bg-gray-600 rounded-lg whitespace-nowrap" x-on:click="openNaverModal = true">검색</button>
              </div>
            </div>
            <div class="flex flex-col gap-4">
              <label class="block text-sm">ISBN 서지정보 검색</label>
              <div class="flex gap-4" x-data="searchSeoji();">
                <input class="w-full px-4 py-2 text-sm border border-gray-300 rounded-md shadow" type="text" placeholder="ISBN 검색">
                <button class="px-4 py-2 text-sm text-white bg-gray-600 rounded-lg whitespace-nowrap" type="button" x-on:click="openIsbnModal = true">검색</button>
              </div>
            </div>
          </div>
          <div class="flex flex-col gap-4 mb-4">
            <label class="block text-sm">관내 소장자료 검색</label>
            <div class="flex gap-4" x-data="searchLibrary();">
              <input class="w-full lg:w-1/3 px-4 py-2 text-sm border border-gray-300 rounded-md shadow" type="text" placeholder="관내 소장자료 검색">
              <button class="px-4 py-2 text-sm text-white bg-gray-600 rounded-lg whitespace-nowrap" type="button" x-on:click="openLibraryModal = true">검색</button>
            </div>
          </div>
        </div>
        <div x-data="{tabs: 0}" class="flex flex-col font-semibold">
          <div class="flex">
            <div class="py-2 px-6 rounded-t-lg rounded-b-none text-sm shadow" :class="tabs === 0 ? 'bg-white text-black' : 'bg-gray-400 text-white'" @click="tabs=0">기본정보</div>
            <div class="py-2 px-6 rounded-t-lg rounded-b-none text-sm shadow" :class="tabs === 1 ? 'bg-white text-black': 'bg-gray-400 text-white'" @click="tabs=1">추가정보</div>
          </div>     
        <div class="flex px-4 py-4 bg-white border border-transparent rounded-bl-md rounded-br-md rounded-tr-md shadow-md text-medium shadow-gray-200/80">
          <div>
            <form id="bookForm" onSubmit="return false;">
              <div class="py-2 mb-4 text-base font-semibold border-b border-gray-300">
                기본 정보
              </div> 
              <div class="flex flex-col lg:flex-row">                   
                <!-- defult information -->
                <div class="flex flex-col items-center gap-6 lg:items-stretch lg:flex-row">
                  <!-- photo -->
                  <div class="mt-4 mb-4" aria-current="도서사진" x-data="imageViewer()">
                    <label for="uploadPhoto" class="block overflow-hidden bg-transparent border border-transparent rounded-lg h-52 w-36 min-w-[9rem] cursor-pointer">
                      <template x-if="!imageUrl">
                        <div class="flex flex-col items-center justify-center w-full h-full gap-6 text-gray-400 bg-gray-200">
                          <i class="fa-solid fa-image fa-2xl"></i>
                          <span class="text-sm text-gray-400">사진 업로드</span>
                        </div>
                      </template>
                      <template x-if="imageUrl">
                        <img class="object-cover object-center w-full h-full" :src="imageUrl" alt="" x-cloak>
                      </template>                      
                    </label>
                    <input id="uploadPhoto" class="hidden w-full px-4 py-2 border border-gray-400 rounded-md shadow" type="file" accept="image/webp, image/jpg, image/jpeg, image/png" @change="checkImage(event);">            
                  </div>
                  <!-- information -->
                  <div class=""> 
                    <!--총서명-->
                    <div class="mb-4">
                      <label class="block text-sm">총서명</label>
                      <input id="seriesTitle" name="seriesTitle" class="w-full px-4 py-2 text-sm border border-gray-300 rounded-lg shadow" type="text">
                    </div>                     
                    <!-- 도서명 -->
                    <div class="mb-4">
                      <label class="block text-sm">도서명</label>
                      <input id="title" name="title" class="w-full px-4 py-2 text-sm border border-gray-300 rounded-lg shadow" type="text">
                    </div>
                    <!--ISBN-->
                    <div class="mb-4">
                      <label class="block text-sm">ISBN</label>
                      <input id="isbn" name="isbn" class="w-full px-4 py-2 text-sm border border-gray-300 rounded-lg shadow" type="text">
                    </div>
                    <!--SET ISBN-->
                    <div class="mb-4">
                      <label class="block text-sm">SET ISBN</label>
                      <input id="setIsbn" name="setIsbn" class="w-full px-4 py-2 text-sm border border-gray-300 rounded-lg shadow" type="text">
                    </div>                                       
                    <!--  -->
                    <div class="mb-4">
                      <label class="block text-sm">서명권차</label>
                      <input class="w-full px-4 py-2 text-sm border border-gray-300 rounded-lg shadow" type="text">
                    </div>
                    <div class="mb-4" aria-current="저자">
                      <label class="block text-sm">저자</label>
                      <input id="author" name="author" class="w-full px-4 py-2 text-sm border border-gray-300 rounded-md shadow" type="text" >
                    </div>
                    <div class="mb-4" aria-current="발행처">
                      <label class="block text-sm">발행처</label>
                      <input class="w-full px-4 py-2 text-sm border border-gray-300 rounded-md shadow" type="text">
                    </div>
                    <div class="mb-4" aria-current="출판년도">
                      <label class="block text-sm">출판년도</label>
                      <input id="pubdate" name="pubdate" class="w-full px-4 py-2 text-sm border border-gray-300 rounded-md shadow" type="text">
                    </div>
                    <div class="mb-4" aria-current="출판사">
                      <label class="block text-sm">출판사</label>
                      <input id="publisher" name="publisher" class="w-full px-4 py-2 text-sm border border-gray-300 rounded-md shadow" type="text">
                    </div>
                    <div class="mb-4" aria-current="페이지">
                      <label class="block text-sm">페이지</label>
                      <input id="" class="w-full px-4 py-2 text-sm border border-gray-300 rounded-md shadow" type="text">
                    </div>
                    <div class="mb-4" aria-current="크기">
                      <label class="block text-sm">크기</label>
                      <input id="" class="w-full px-4 py-2 text-sm border border-gray-300 rounded-md shadow" type="text">
                    </div>
                    <div class="mb-4" aria-current="가격">
                      <label class="block text-sm">가격</label>
                      <input id="price" name="price" class="w-full px-4 py-2 text-sm border border-gray-300 rounded-md shadow" type="text">
                    </div>
                    <div class="mb-4" aria-current="첨부자료">
                      <label class="block text-sm">첨부자료</label>
                      <input id="" class="w-full px-4 py-2 text-sm border border-gray-300 rounded-md shadow" type="text">
                    </div>                  
                    <!--소장 정보-->
                    <div class="mt-12 mb-4" aria-current="소장정보">
                      <label class="block mb-4 font-semibold">소장정보</label>
                      <div class="mb-4" aria-current="소장위치">
                        <label class="block text-sm">소장위치</label>
                        <select id="" class="w-full px-4 py-2 text-sm border border-gray-300 rounded-md shadow" type="text">
                          <option value="">자료실</option>
                        </select>
                      </div>
                      <div class="mb-4" aria-current="반입구분">
                        <label class="block text-sm">반입구분</label>
                        <select id="" class="w-full px-4 py-2 text-sm border border-gray-300 rounded-md shadow" type="text">
                          <option value="">구매</option>
                          <option value="">기증</option>
                        </select>
                      </div>
                      <div class="mb-4" aria-current="도서상태">
                        <label class="block text-sm">도서상태</label>
                        <select id="" class="w-full px-4 py-2 text-sm border border-gray-300 rounded-md shadow">
                          <option value="">대출가능</option>
                          <option value="">대출불가</option>
                        </select>
                      </div>
                      <div class="mb-8" aria-current="UID">
                        <label class="block text-sm">UID</label>
                        <input class="w-full px-4 py-2 text-sm border border-gray-300 rounded-md shadow" type="text">                         
                      </div>
                      <div class="mb-4" aria-current="청구기호">
                        <label class="block mb-4 font-semibold">청구기호</label>
                        <div class="flex flex-wrap items-center gap-4 mb-4">
                          <!-- 별치 -->
                          <div class="mb-4" aria-current="별치기호">
                            <label class="block text-sm">별치기호</label>
                            <input id="" class="w-full px-4 py-2 text-sm border border-gray-300 rounded-md shadow" type="text">                         
                          </div>
                          <!-- 분류기호 -->
                          <div class="mb-4" aria-current="분류기호">
                            <label class="block text-sm">분류기호</label>
                            <input id="classified" class="w-full px-4 py-2 text-sm border border-gray-300 rounded-md shadow" type="text">                         
                          </div>
                          <!-- 저자기호 -->
                          <div class="mb-4" aria-current="저자기호">
                            <label class="block text-sm">저자기호</label>
                            <input id="" class="w-full px-4 py-2 text-sm border border-gray-300 rounded-md shadow" type="text">                         
                          </div>
                          <!-- 청구권차 -->
                          <div class="mb-4" aria-current="청구권차">
                            <label class="block text-sm">청구권차</label>
                            <input id="volume" class="w-full px-4 py-2 text-sm border border-gray-300 rounded-md shadow" type="text">                         
                          </div>
                          <!-- 복본 -->
                          <div class="mb-4" aria-current="복본">
                            <label class="block text-sm">복본</label>
                            <input id="copy" class="w-full px-4 py-2 text-sm border border-gray-300 rounded-md shadow" type="text">                         
                          </div>
                          <!-- 등록번호 -->
                          <div class="mb-4" aria-current="등록번호">
                            <label class="block text-sm">등록번호</label>
                            <input id="" class="w-full px-4 py-2 text-sm border border-gray-300 rounded-md shadow" type="text">                         
                          </div>
                        </div>                    
                      </div>
                      <!-- 추가정보 -->
                      <div class="mb-4" aria-current="설명">
                        <label class="block">설명</label>
                        <textarea id="description" class="w-full px-4 py-2 text-sm border border-gray-300 rounded-md shadow" rows="5" type="text"></textarea>
                      </div>
                    </div>                    
                    <div class="relative flex justify-between">
                      <button class="px-4 py-2 bg-gray-100 border border-gray-300 rounded" onClick="history.go(-1);">취소</button>
                      <button class="px-4 py-2 text-white bg-gray-600 rounded" @click="createBook();">저장</button>
                    </div>  
                  </div>
                </div> 
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- naver modal -->
      <div th:replace="~{/admin/book/naverModal}"></div>
      <!-- public library modal -->
      <div th:replace="~{admin/book/isbnModal}"></div>
      <div th:replace="~{admin/book/libraryModal}"></div>
      </div>  
    </div>
  </main>
  <script layout:fragment="javascript">
    function imageViewer() {
      return {
        imageUrl: '',

        fileChosen(event) {
          this.fileToDataUrl(event, src => this.imageUrl = src)
        },
        fileToDataUrl(event, callback) {
          if (! event.target.files.length) return

          let file = event.target.files[0],
            reader = new FileReader()

          reader.readAsDataURL(file)
          reader.onload = e => callback(e.target.result)
        },
        checkImage(event){
          let imgFile = document.getElementById('uploadPhoto');
          let imgName = imgFile.files[0].name;
          let fileSize = imgFile.files[0].size;
          let maxSize = 5 * 1024 * 1024;
          const regex = /[\{\}\/?,;:|*~`!^\+<>@\#$%&\\\=\'\"]/gi;
          const literalRegex = /[\{\}\/?,;:|*~`!^\+<>@\#$%&\\\=\'\"]/gi;
          const extension = ['jpg','jpeg','png','gif','webp'];
          let ext = imgName.lastIndexOf('.');
          let length = imgName.length;
          let fileType = imgName.substring(ext+1, length);

          if(fileSize > maxSize){
            alert("이미지 최대 용량인 5MB를 초과하였습니다.")
            return false;
          }
          
          if(!extension.includes(fileType.toLowerCase())){
            alert("허용된 이미지 파일 형식이 아닙니다.")
            return false;
          }

          this.fileChosen(event);
        },
        uploadImgUrl(){

        }
      }
    }

    const createBook = function () {
      return { 

        checkForm(){

        },
        saveBookInfo(){

          let formData = new FormData();
          
          formData.set("", "");
          formData.set("", "");
          formData.set("", "");
          formData.set("", "");
          formData.set("", "");
          formData.set("", "");

          fetch('', { method: 'POST', body: formData });
        }
      }
    }

    const searchNaver = function () {
      return {
        books: null,
        selectedBook:[],
        view: 10,
        target:'',
        searchInput: '',
        pages: [],
        offset: 10,
        pagination: {
          total: 0,
          lastPage: 1,
          perPage: 5,
          currentPage: 1,
          from: 1,
          to: 1 * 5
        },
        currentPage: 1,
        changeInput(){
          let keyword = document.getElementById('n_keyword').value;
          this.searchInput = keyword;

          if(this.searchInput === '' || this.searchInput.length === 0){
            alert('검색어를 입력하세요');
            return false;
          }
        },
        fetchNaver(target, start = 1){
          const searchUrl = "/api/naver/search";
          const searchDetailUrl = "/api/naver/searchDetail";
          let url = "";

          let searchTarget = document.getElementById('n_target').value;
          this.target = searchTarget;
          const formData = new FormData();

          if(this.target === 'title'){
            formData.set('d_titl', this.searchInput);
          } else if(this.target === 'isbn'){
            formData.set('d_isbn', this.searchInput);
          } else {
            formData.set('query', this.searchInput);
          }

          formData.set('start', start);
          formData.set('display', 10);
         
          if(this.target === 'title' || this.target === 'isbn'){
            url = searchDetailUrl;
          } else {
            url = searchUrl;
          }

          fetch(url, {method: 'POST', body: formData})
          .then(res => res.json())
          .then(json => {
            this.books = json.items.map((item, index) => ({
              ...item,
              selected: false,
              index: index
              }));
            this.pagination.total = json.total;
            this.pagination.lastPage = Math.ceil(json.total / this.view);
            this.pagination.to = this.view;
            this.showPages();
            console.log(this.books);
          })
          .catch(error => {
            console.error('Error:', error);
          })
        },
        checkView(index) {
          return index > this.pagination.to || index < this.pagination.from ? false : true
        },
        checkPage(item) {
          if (item <= this.currentPage + this.view) {
            return true
          }
          return false
        },
        changePage(page) {
          if (page >= 1 && page <= this.pagination.lastPage) {
            this.currentPage = page
            const total = this.pagination.total
            const lastPage = Math.ceil(total / this.view) || 1
            const from = (page - 1) * this.view + 1
            let to = page * this.view
            // if (page === lastPage) {
            //   to = total
            // }
            if (to > total) {
            to = total;
            }
            //this.pagination.total = total
            this.pagination.lastPage = lastPage
            this.pagination.perPage = this.view
            this.pagination.currentPage = page
            this.pagination.from = from
            this.pagination.to = to

            const start = (page - 1) * this.view + 1;

            this.fetchNaver(this.target, start);
          }
        },
        showPages() {
          const pages = []
          let from = this.pagination.currentPage - Math.ceil(this.offset / 2)
          if (from < 1) {
            from = 1
          }
          let to = from + this.offset - 1
          if (to > this.pagination.lastPage) {
            to = this.pagination.lastPage
          }
          while (from <= to) {
            pages.push(from)
            from++
          }
          this.pages = pages
        },
        changeView() {
          this.changePage(1)
          this.showPages()
        },
        isEmpty() {
          return this.pagination.total ? false : true
        },
        updateSelectedBook(book) {
          this.selectedBook = [book]; // 선택된 책을 배열에 할당합니다.
          console.log(this.selectedBook);
        },
        populateForm() {
          const form = document.getElementById('bookForm');   
          document.getElementById('isbn').value = this.selectedBook.map(book => book.isbn);
          document.getElementById('title').value = this.selectedBook.map(book => book.title);
          document.getElementById('author').value = this.selectedBook.map(book => book.author);
          document.getElementById('publisher').value = this.selectedBook.map(book => book.publisher);
          document.getElementById('pubdate').value = this.selectedBook.map(book => book.pubdate);
          document.getElementById('price').value = this.selectedBook.map(book => book.discount);
        }
      }
    }

    const searchSeoji = function () {
      return {
        books: null,
        selectedBook:[],
        view: 10,
        searchInput: '',
        pages: [],
        offset: 10,
        pagination: {
          total: 0,
          lastPage: 0,
          perPage: 5,
          currentPage: 1,
          from: 1,
          to: 1 * 5
        },
        currentPage: 1,
        changeInput(){
          let keyword = document.getElementById('isbn_keyword').value;
          console.log(keyword);
          this.searchInput = keyword;

          if(this.searchInput === '' || this.searchInput.length === 0){
            alert('검색어를 입력하세요');
            return false;
          }
        },
        classifyBook(value){
         let category = '';
         switch(value){
          case '0':
            category = '총류';
            break;
          case '1':
            category = '철학';
            break;
          case '2':
            category = '종교';
            break;
          case '3':
            category = '사회과학';
            break;
          case '4':
            category = '자연과학';
            break;
          case '5':
            category = '기술과학';
            break;
          case '6':
            category = '예술';
            break;
          case '7':
            category = '언어';
            break;
          case '8':
            category = '문학';
            break;
          case '9':
            category = '역사';
            break;
          default:
            category = '미분류';
         }
         return category;
        },
        fetchIsbn(keyword, pageNum = 1){
          const regex = /<[^>]+>/g; 
          let formData = new FormData();

          if(pageNum === '' || pageNum === null){
            pageNum = 1;
          }
          formData.set('pageNo', pageNum)
          formData.set('pageSize', 10)
          formData.set('title', this.searchInput)

          console.log(this.searchInput);

          fetch('/api/publicLib/searchIsbn', {method: 'POST', body: formData})
          .then(res => res.json())
          .then(json => {
            this.books = json.docs.map((item, index) => ({
              ...item,
              selected: false,
              SUBJECT: this.classifyBook(item.SUBJECT)
              }));
            this.pagination.total = json.TOTAL_COUNT;
            this.pagination.lastPage = Math.min(Math.ceil(json.TOTAL_COUNT / this.view), 100);
            this.pagination.to = this.view;
            this.showPages();
            console.log(this.books)
          })
          .catch(error => {
            console.error('Error:', error);
          })
        },
        checkView(index) {
          return index > this.pagination.to || index < this.pagination.from ? false : true
        },
        checkPage(item) {
          if (item <= this.currentPage + this.view) {
            return true
          }
          return false
        },
        changePage(page) {
          if (page >= 1 && page <= this.pagination.lastPage) {
            this.currentPage = page
            const total = this.pagination.total
            const lastPage = Math.min(Math.ceil(total / this.view), 100) || 1
            const from = (page - 1) * this.view + 1
            let to = page * this.view
            if (page === lastPage) {
              to = total
            }
            //this.pagination.total = total
            this.pagination.lastPage = lastPage
            this.pagination.perPage = this.view
            this.pagination.currentPage = page
            this.pagination.from = from
            this.pagination.to = to
            this.fetchIsbn(this.searchInput, this.pagination.currentPage)
          }
        },
        showPages() {
          const pages = []
          let from = this.pagination.currentPage - Math.ceil(this.offset / 2)
          if (from < 1) {
            from = 1
          }
          let to = from + this.offset - 1
          if (to > this.pagination.lastPage) {
            to = this.pagination.lastPage
          }
          while (from <= to) {
            pages.push(from)
            from++
          }
          this.pages = pages
        },
        changeView() {
          this.changePage(1)
          this.showPages()
        },
        isEmpty() {
          return this.pagination.total ? false : true
        },
        updateSelectedBook(book) {
          this.selectedBook = [book]; // 선택된 책을 배열에 할당합니다.
          console.log(this.selectedBook);
        },
        populateForm() {
          const form = document.getElementById('bookForm');   
          document.getElementById('isbn').value = this.selectedBook.map(book => book.EA_ISBN);
          document.getElementById('setIsbn').value = this.selectedBook.map(book => book.SET_ISBN);
          document.getElementById('title').value = this.selectedBook.map(book => book.TITLE);
          document.getElementById('seriesTitle').value = this.selectedBook.map(book => book.SERIES_TITLE);
          document.getElementById('author').value = this.selectedBook.map(book => book.AUTHOR);
          document.getElementById('publisher').value = this.selectedBook.map(book => book.PUBLISHER);
          document.getElementById('pubdate').value = this.selectedBook.map(book => book.PUBLISH_PREDATE);
          document.getElementById('classified').value = this.selectedBook.map(book => book.EA_ADD_CODE.slice(-3));
          document.getElementById('volume').value = this.selectedBook.map(book => book.VOL);
        }
      }
    }
  
    const searchLibrary = function (){
      return {
        books: null,
        selectedBook:[],
        view: 10,
        searchInput: '',
        pages: [],
        offset: 10,
        pagination: {
          total: 0,
          lastPage: 0,
          perPage: 5,
          currentPage: 1,
          from: 1,
          to: 1 * 5
        },
        currentPage: 1,
        changeInput(){
          let keyword = document.getElementById('lib_keyword').value;
          console.log(keyword);
          this.searchInput = keyword;

          if(this.searchInput === '' || this.searchInput.length === 0){
            alert('검색어를 입력하세요');
            return false;
          }
        },
        classifyBook(value){
         let category = '';
         switch(value){
          case '0':
            category = '총류';
            break;
          case '1':
            category = '철학';
            break;
          case '2':
            category = '종교';
            break;
          case '3':
            category = '사회과학';
            break;
          case '4':
            category = '자연과학';
            break;
          case '5':
            category = '기술과학';
            break;
          case '6':
            category = '예술';
            break;
          case '7':
            category = '언어';
            break;
          case '8':
            category = '문학';
            break;
          case '9':
            category = '역사';
            break;
          default:
            category = '미분류';
         }
         return category;
        },
        fetchLibrary(keyword, pageNum = 1){
          const regex = /<[^>]+>/g; 
          let formData = new FormData();

          if(pageNum === '' || pageNum === null){
            pageNum = 1;
          }
          formData.set('pageNo', pageNum)
          formData.set('pageSize', 10)
          formData.set('title', this.searchInput)

          console.log(this.searchInput);

          fetch('/api/search', {method: 'POST', body: formData})
          .then(res => res.json())
          .then(json => {
            this.books = json.docs.map((item, index) => ({
              ...item,
              selected: false,
              SUBJECT: this.classifyBook(item.SUBJECT)
              }));
            this.pagination.total = json.TOTAL_COUNT;
            this.pagination.lastPage = Math.min(Math.ceil(json.TOTAL_COUNT / this.view), 100);
            this.pagination.to = this.view;
            this.showPages();
            console.log(this.books)
          })
          .catch(error => {
            console.error('Error:', error);
          })
        },
      }
    }
  </script>
</body>    
</html>