<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/adminLayout}"> 
<head>    
  <title>장서 등록</title>
  <link rel="stylesheet" href="../../../static/css/common.css" th:href="@{/static/css/common.css}" /> 
  <script src="https://kit.fontawesome.com/f31fa860a2.js" crossorigin="anonymous"></script>      
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.12.1/dist/cdn.min.js"></script>  
  <!-- <script src="https://code.jquery.com/jquery-latest.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>     -->
</head>
<body x-data="{ openNaverModal : false, openIsbnModal : false }">
  <main class="relative w-full h-full bg-gray-100" layout:fragment="content">
    <div class="relative w-full h-screen pt-16 pl-0 lg:pl-56">
      <div class="flex flex-col h-full gap-6 p-4 overflow-y-auto">
        <div class="p-4 font-semibold bg-white border border-transparent rounded-md shadow-md text-medium shadow-gray-200/80">
          <i class="text-gray-400 fa-solid fa-book fa-lg"></i>
          장서 등록
        </div>           
        <div class="flex flex-col gap-6 p-4 font-semibold bg-white border border-transparent rounded-md shadow-md lg:flex-row text-medium shadow-gray-200/80">
          <div class="flex flex-col gap-4">
            <label class="block text-sm">네이버 도서 검색</label>
            <div class="flex gap-4">
              <input class="w-full px-4 py-2 text-sm border border-gray-300 rounded-md shadow" type="text" placeholder="도서검색">
              <button class="px-4 py-2 text-sm text-white bg-gray-600 rounded-lg whitespace-nowrap" x-on:click="openNaverModal = true">검색</button>
            </div>
          </div>
          <div class="flex flex-col gap-4">
            <label class="block text-sm">ISBN 서지정보 검색</label>
            <div class="flex gap-4">
              <input class="w-full px-4 py-2 text-sm border border-gray-300 rounded-md shadow" type="text" placeholder="ISBN 검색">
              <button class="px-4 py-2 text-sm text-white bg-gray-600 rounded-lg whitespace-nowrap" type="button" x-on:click="openIsbnModal = true">검색</button>
            </div>
          </div>
        </div>      
        <div class="p-4 bg-white border border-transparent rounded-md shadow-md shadow-gray-200/80">
          <div class="">
            <form id="bookForm" class="">
              <div class="py-2 mb-4 text-base font-semibold border-b border-gray-300">
                기본 정보
              </div>
              <div class="flex flex-col lg:flex-row">                   
                <!-- defult information -->
                <div class="flex flex-col items-center gap-6 lg:items-stretch lg:flex-row">
                  <!-- photo -->
                  <div class="mt-4 mb-4" aria-current="도서사진" x-data="imageViewer()">
                    <label for="uploadPhoto" class="block overflow-hidden bg-transparent border border-transparent rounded-lg h-52 w-36 min-w-[9rem]">
                      <template x-if="!imageUrl">
                        <div class="flex flex-col items-center justify-center w-full h-full gap-6 text-gray-400 bg-gray-200">
                          <i class="fa-solid fa-image fa-2xl"></i>
                          <span class="text-sm text-gray-400">사진 업로드</span>
                        </div>
                      </template>
                      <template x-if="imageUrl">
                        <img class="object-cover object-center w-full h-full" :src="imageUrl" alt="" x-cloak>
                      </template>                      
                    </label>
                    <input id="uploadPhoto" class="hidden w-full px-4 py-2 border border-gray-400 rounded-md shadow" type="file" accept="image/webp, image/jpg, image/jpeg, image/png" @change="fileChosen">            
                  </div>
                  <!-- information -->
                  <div class="">
                    <!--ISBN-->
                    <div class="mb-4">
                      <label class="block text-sm">ISBN</label>
                      <input id="isbn" name="isbn" class="w-full px-4 py-2 text-sm border border-gray-300 rounded-lg shadow" type="text">
                    </div> 
                    <!--총서명-->
                    <div class="mb-4">
                      <label class="block text-sm">총서명</label>
                      <input id="" name="seriesTitle" class="w-full px-4 py-2 text-sm border border-gray-300 rounded-lg shadow" type="text">
                    </div>                     
                    <!-- 도서명 -->
                    <div class="mb-4">
                      <label class="block text-sm">도서명</label>
                      <input id="title" name="title" class="w-full px-4 py-2 text-sm border border-gray-300 rounded-lg shadow" type="text">
                    </div>
                    <!--  -->
                    <div class="mb-4">
                      <label class="block text-sm">서명권차</label>
                      <input class="w-full px-4 py-2 text-sm border border-gray-300 rounded-lg shadow" type="text">
                    </div>
                    <div class="mb-4" aria-current="저자">
                      <label class="block text-sm">저자</label>
                      <input id="author" name="author" class="w-full px-4 py-2 text-sm border border-gray-300 rounded-md shadow" type="text" >
                    </div>
                    <div class="mb-4" aria-current="발행지">
                      <label class="block text-sm">발행지</label>
                      <input class="w-full px-4 py-2 text-sm border border-gray-300 rounded-md shadow" type="text">
                    </div>
                    <div class="mb-4" aria-current="출판년도">
                      <label class="block text-sm">출판년도</label>
                      <input id="pubdate" name="pubdate" class="w-full px-4 py-2 text-sm border border-gray-300 rounded-md shadow" type="text">
                    </div>
                    <div class="mb-4" aria-current="출판사">
                      <label class="block text-sm">출판사</label>
                      <input id="publisher" name="publisher" class="w-full px-4 py-2 text-sm border border-gray-300 rounded-md shadow" type="text">
                    </div>
                    <div class="mb-4" aria-current="페이지">
                      <label class="block text-sm">페이지</label>
                      <input class="w-full px-4 py-2 text-sm border border-gray-300 rounded-md shadow" type="text">
                    </div>
                    <div class="mb-4" aria-current="크기">
                      <label class="block text-sm">크기</label>
                      <input class="w-full px-4 py-2 text-sm border border-gray-300 rounded-md shadow" type="text">
                    </div>
                    <div class="mb-4" aria-current="가격">
                      <label class="block text-sm">가격</label>
                      <input id="price" name="price" class="w-full px-4 py-2 text-sm border border-gray-300 rounded-md shadow" type="text">
                    </div>
                    <div class="mb-4" aria-current="첨부자료">
                      <label class="block text-sm">첨부자료</label>
                      <input class="w-full px-4 py-2 text-sm border border-gray-300 rounded-md shadow" type="text">
                    </div>
                    <div class="mb-4" aria-current="소장위치">
                      <label class="block text-sm">소장위치</label>
                      <select class="w-full px-4 py-2 text-sm border border-gray-300 rounded-md shadow" type="text">
                        <option>자료실</option>
                      </select>
                    </div>
                    <div class="mb-4" aria-current="반입구분">
                      <label class="block text-sm">반입구분</label>
                      <select class="w-full px-4 py-2 text-sm border border-gray-300 rounded-md shadow" type="text">
                        <option>구매</option>
                      </select>
                    </div>
                    <div class="mb-4" aria-current="도서상태">
                      <label class="block text-sm">도서상태</label>
                      <select class="w-full px-4 py-2 text-sm border border-gray-300 rounded-md shadow">
                        <option>대출가능</option>
                      </select>
                    </div>
                    <div class="mb-4" aria-current="UID">
                      <label class="block text-sm">UID</label>
                      <input class="w-full px-4 py-2 text-sm border border-gray-300 rounded-md shadow" type="text">                         
                    </div>
                    <div class="mb-4" aria-current="청구기호">
                      <label class="block mb-4 text-sm">청구기호</label>
                      <div class="flex flex-wrap items-center gap-4 mb-4">
                        <!-- 별치 -->
                        <div class="mb-4" aria-current="별치기호">
                          <label class="block text-sm">별치기호</label>
                          <input class="w-full px-4 py-2 text-sm border border-gray-300 rounded-md shadow" type="text">                         
                        </div>
                        <!-- 분류기호 -->
                        <div class="mb-4" aria-current="분류기호">
                          <label class="block text-sm">분류기호</label>
                          <input class="w-full px-4 py-2 text-sm border border-gray-300 rounded-md shadow" type="text">                         
                        </div>
                        <!-- 저자기호 -->
                        <div class="mb-4" aria-current="저자기호">
                          <label class="block text-sm">저자기호</label>
                          <input class="w-full px-4 py-2 text-sm border border-gray-300 rounded-md shadow" type="text">                         
                        </div>
                        <!-- 청구권차 -->
                        <div class="mb-4" aria-current="청구권차">
                          <label class="block text-sm">청구권차</label>
                          <input class="w-full px-4 py-2 text-sm border border-gray-300 rounded-md shadow" type="text">                         
                        </div>
                        <!-- 복본 -->
                        <div class="mb-4" aria-current="복본">
                          <label class="block text-sm">복본</label>
                          <input class="w-full px-4 py-2 text-sm border border-gray-300 rounded-md shadow" type="text">                         
                        </div>
                        <!-- 등록번호 -->
                        <div class="mb-4" aria-current="등록번호">
                          <label class="block text-sm">등록번호</label>
                          <input class="w-full px-4 py-2 text-sm border border-gray-300 rounded-md shadow" type="text">                         
                        </div>
                      </div>
                    </div>   
                  </div>
                </div> 
              </div>
            </form>
          </div>
        </div>
        <!-- extra infromation -->
        <div class="p-4 bg-white border border-transparent rounded-md shadow-md shadow-gray-200/80">
          <div class="py-2 mb-4 font-semibold border-b border-gray-300 ext-base">
            추가 정보
          </div>
          <div class="">
                  
          </div>
          <div class="">
            <div class="mb-4" aria-current="설명">
              <label class="block">설명</label>
              <textarea class="w-full px-4 py-2 text-sm border border-gray-300 rounded-md shadow" rows="5" type="text"></textarea>
            </div>
          </div>

          <div class="relative flex justify-between">
            <button class="px-4 py-2 bg-gray-100 border border-gray-300 rounded">취소</button>
            <button class="px-4 py-2 text-white bg-gray-600 rounded">저장</button>
          </div>
        </div>
      </div>
      <!-- naver modal -->
      <div class="inset-0 w-full h-full max-w-screen-lg absolute z-50 p-4 border shadow bg-white rounded-lg top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%]" 
        :class="openNaverModal ? '':'block'" x-show="openNaverModal" x-cloak
        id="searchBookModal">
        <div class="flex flex-col justify-between h-full" x-data="dataTable()">
          <div class="flex flex-col">
            <div class="mb-4">
              <div class="py-2 mb-4 text-sm font-semibold border-b border-gray-300">
                네이버 도서 검색
              </div>
              <form class="flex gap-4" onSubmit="return false;">
                <input id="n_keyword" class="px-4 py-2 border border-gray-300 rounded-md shadow" type="text" placeholder="도서명을 입력하세요">
                <button class="px-4 py-2 text-white bg-gray-600 rounded-lg whitespace-nowrap" 
                  @click="dataTable().searchNaver();">검색</button>
              </form>
            </div>
            <template x-if="books !== null && books.length !== 0">
              <div class="relative mb-4 w-full overflow-y-auto">
                <table class="w-full overflow-hidden rounded-md table-auto">
                  <thead class="bg-gray-200">
                    <tr>
                      <th class="px-6 py-2">
                        표지
                      </th>
                      <th class="px-6 py-2">도서명</th>
                      <th class="px-6 py-2">저자</th>
                      <th class="px-6 py-2">출판사</th>
                      <th class="px-6 py-2">출판년도</th>
                      <th class="px-6 py-2">가격</th>
                      <th class="px-6 py-2">ISBN</th>
                    </tr>
                  </thead>
                  <tbody>
                    <template x-for="book in books">
                      <tr class="border-b border-dashed hover:bg-gray-100">                     
                        <td class="p-2">
                          <div class="flex items-center">
                          <div class="flex items-center">
                            <input class="w-4 h-4" type="radio" x-model="book.selected" @change="updateSelectedBook(book)">
                          </div>
                          <div class="min-w-[4rem] w-18 h-24 rounded overflow-hidden">
                            <img class="object-cover object-center w-full h-full" :src="book.image" :alt="book.title">
                          </div>
                          </div>
                        </td>
                        <td class="px-6 py-2 whitespace-nowrap" x-text="book.title"></td>
                        <td class="px-6 py-2 whitespace-nowrap" x-text="book.author"></td>
                        <td class="px-6 py-2 whitespace-nowrap" x-text="book.publisher"></td>
                        <td class="px-6 py-2" x-text="book.pubdate"></td>
                        <td class="px-6 py-2" x-text="book.discount"></td>
                        <td class="px-6 py-2" x-text="book.isbn"></td>
                      </tr>
                    </template>
                    <template x-if="books.length === 0">
                      <tr>
                        <td class="py-4" colspan="7">
                          <div class="text-gray-500 w-full h-full flex justify-center items-center mx-auto">
                            <i class="fa-solid fa-triangle-exclamation fa-lg"></i>
                            <span class="">검색결과가 없습니다.</span>
                          </div>
                        </td>
                      </tr>                   
                    </template>
                  </tbody>
                </table>
                <template x-if="total !== 0">
                  <div class="flex mt-5">
                    <div class="border px-2 cursor-pointer" @click.prevent="changePage(1)">
                      <span class="text-gray-700"><i class="fa-solid fa-angles-left fa-lg"></i></span>
                    </div>
                    <div class="border px-2 cursor-pointer" @click="changePage(currentPage - 1)">
                      <span class="text-gray-700"><i class="fa-solid fa-angle-left fa-lg"></i></span>
                    </div>
                    <template x-for="item in pages">
                      <div @click="changePage(item)" class="border px-2 cursor-pointer" x-bind:class="{ 'bg-gray-300': currentPage === item }">
                        <span class="text-gray-700" x-text="item"></span>
                      </div>
                    </template>
                    <div class="border px-2 cursor-pointer" @click="changePage(currentPage + 1)">
                      <span class="text-gray-700"><i class="fa-solid fa-angle-right fa-lg"></i></span></span>
                    </div>
                    <div class="border px-2 cursor-pointer" @click.prevent="changePage(pagination.lastPage)">
                      <span class="text-gray-700"><i class="fa-solid fa-angles-right fa-lg"></i></span></span>
                    </div>
                  </div>
                </template>
              </div>
            </template>
          </div>
          <template x-if="books === null">
              <div class="w-full h-full flex justify-center items-center mx-auto">
                <div class="text-gray-400">
                  <i class="fa-solid fa-circle-exclamation fa-lg"></i>
                  <span>유의사항</span>
                </div>
              </div>
          </template>
          <div class="relative flex justify-between">
            <button class="px-4 py-2 bg-gray-200 border border-gray-300 rounded-lg" @click="openNaverModal = false;">취소</button>
            <button class="px-4 py-2 text-white bg-gray-600 rounded-lg" @click="openNaverModal = false; populateForm()">등록하기</button>
          </div>
        </div>
      </div>

        <!-- public library modal -->
        <div class="inset-0 w-full h-full max-w-screen-lg absolute z-50 p-4 border shadow bg-white rounded-lg top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%]" 
        :class="openIsbnModal ? '':'block'" x-show="openIsbnModal" x-cloak
        id="searchBookModal">
          <div class="h-full">
            <div class="mb-4">
              <div class="py-2 mb-4 text-sm font-semibold border-b border-gray-300">
                국립중앙도서관 서지정보 검색
              </div>
              <form class="flex gap-4">
                <select class="px-4 py-2 border border-gray-300 rounded-md shadow">
                  <option>ISBN</option>
                  <option>본표제</option>
                  <option>발행처</option>
                  <option>저자</option>
                </select>
                <input class="px-4 py-2 border border-gray-300 rounded-md shadow" type="text" placeholder="도서명을 입력하세요">
                <button class="px-4 py-2 text-white bg-gray-600 rounded-lg whitespace-nowrap">검색</button>
              </form>
            </div>
            <div class="mb-4 w-full overflow-y-auto">
              <table class="w-full overflow-hidden rounded-md table-auto">
                <thead class="bg-gray-200">
                  <tr class="whitespace-nowrap">
                    <th class="px-6 py-2">
                      <div class="flex items-center">
                        <input class="w-4 h-4 border border-gray-300 rounded" type="checkbox">
                      </div>
                    </th>
                    <th class="px-6 py-2">
                      표지
                    </th>
                    <th class="px-6 py-2">도서명</th>
                    <th class="px-6 py-2">저자</th>
                    <th class="px-6 py-2">출판사</th>
                    <th class="px-6 py-2">출판년도</th>
                    <th class="px-6 py-2">가격</th>
                    <th class="px-6 py-2">ISBN</th>
                  </tr>
                </thead>
                <tbody id="p_resultRow" class="">
                  
                </tbody>
              </table>         
            </div>
            <div class="relative flex justify-between">
              <button class="px-4 py-2 bg-gray-200 border border-gray-300 rounded-lg">취소</button>
              <button class="px-4 py-2 text-white bg-gray-600 rounded-lg" x-on:click="openIsbnModal = false">등록하기</button>
            </div>
          </div>
        </div>  
    </div>
  </main>
  <script layout:fragment="javascript">
    function imageViewer() {
      return {
        imageUrl: '',

        fileChosen(event) {
          this.fileToDataUrl(event, src => this.imageUrl = src)
        },

        fileToDataUrl(event, callback) {
          if (! event.target.files.length) return

          let file = event.target.files[0],
            reader = new FileReader()
  
          reader.readAsDataURL(file)
          reader.onload = e => callback(e.target.result)
        },
      }
    }

    // function searchNaver(){
    //   return {
    //     books: null,
    //     selectedBook: [],            
    //     fetchNaver(keyword = '', start = 1){
    //       let keyword = document.getElementById("n_keyword");
    //       if(keyword.value === '' || keyword.value.length === 0){
    //       alert('검색어를 입력하세요');
    //       return false;              
    //       } 
    //       fetch('/api/naver/search?title=' + keyword + '&start=' + start)
    //       .then(res => res.json())
    //       .then(json => {
    //         this.books = json.books.map((item, index) => ({
    //           ...item,
    //           selected: false
    //         }));
    //         this.pagination.total = this.books.length; // books.length를 업데이트
    //         this.pagination.lastPage = Math.ceil(this.books.length / this.pagination.perPage);
    //         this.showPages();
    //       })
    //       .catch(error => {
    //         console.error('Error:', error);
    //       })
    //     },
    //     updateSelectedBook(book) {
    //       this.selectedBook = [book]; // 선택된 책을 배열에 할당합니다.
    //       console.log(this.selectedBook);
    //     },
    //     populateForm() {
    //       const form = document.getElementById('#bookForm');   
    //       document.getElementById('isbn').value = this.selectedBook.map(book => book.isbn);
    //       document.getElementById('title').value = this.selectedBook.map(book => book.title);
    //       document.getElementById('author').value = this.selectedBook.map(book => book.author);
    //       document.getElementById('publisher').value = this.selectedBook.map(book => book.publisher);
    //       document.getElementById('pubdate').value = this.selectedBook.map(book => book.pubdate);
    //       document.getElementById('price').value = this.selectedBook.map(book => book.discount);
    //     }
    //   }
    // }

    window.dataTable = function () {
      return {
        books: null,
        selectedBook:[],
        view: 5,
        searchInput: '',
        pages: [],
        offset: 5,
        pagination: {
          total: 0,
          lastPage: 0,
          perPage: 5,
          currentPage: 1,
          from: 1,
          to: 1 * 5
        },
        currentPage: 1,        
        
        searchNaver(keyword, start = 1){
          keyword = document.getElementById('n_keyword').value;

          start = this.currentPage || 1;
          if(keyword === '' || keyword.length === 0){
            alert('검색어를 입력하세요');
            return false;              
          } 
          fetch('/api/naver/search?title=' + keyword + '&start=' + start + '&display=' + 5)
          .then(res => res.json())
          .then(json => {
            this.books = json.items.map((item, index) => ({
              ...item,
              selected: false
              }));
            this.pagination.total = json.total;
            this.pagination.lastPage = Math.ceil(json.total / this.view);
            this.pagination.to = this.view;
            this.showPages();           
          })
          .catch(error => {
            console.error('Error:', error);
          })
        },
        checkView(index) {
          return index > this.pagination.to || index < this.pagination.from ? false : true
        },
        checkPage(item) {
          if (item <= this.currentPage + 5) {
            return true
          }
          return false
        },
        changePage(page) {
          if (page >= 1 && page <= this.pagination.lastPage) {
            this.currentPage = page
            const total = this.items.length
            const lastPage = Math.ceil(total / this.view) || 1
            const from = (page - 1) * this.view + 1
            let to = page * this.view
            if (page === lastPage) {
              to = total
            }
            this.pagination.total = total
            this.pagination.lastPage = lastPage
            this.pagination.perPage = this.view
            this.pagination.currentPage = page
            this.pagination.from = from
            this.pagination.to = to
            this.searchNaver()
          }
        },
        showPages() {
          const pages = []
          let from = this.pagination.currentPage - Math.ceil(this.offset / 2)
          if (from < 1) {
            from = 1
          }
          let to = from + this.offset - 1
          if (to > this.pagination.lastPage) {
            to = this.pagination.lastPage
          }
          while (from <= to) {
            pages.push(from)
            from++
          }
          this.pages = pages
        },
        changeView() {
          this.changePage(1)
          this.showPages()
        },
        isEmpty() {
          return this.pagination.total ? false : true
        },
        updateSelectedBook(book) {
          this.selectedBook = [book]; // 선택된 책을 배열에 할당합니다.
          console.log(this.selectedBook);
        },
        populateForm() {
          const form = document.getElementById('bookForm');   
          document.getElementById('isbn').value = this.selectedBook.map(book => book.isbn);
          document.getElementById('title').value = this.selectedBook.map(book => book.title);
          document.getElementById('author').value = this.selectedBook.map(book => book.author);
          document.getElementById('publisher').value = this.selectedBook.map(book => book.publisher);
          document.getElementById('pubdate').value = this.selectedBook.map(book => book.pubdate);
          document.getElementById('price').value = this.selectedBook.map(book => book.discount);
        }
      }
    }
  </script>
</body>    
</html>