<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/adminLayout}"> 
<head>    
  <title>등록 자료 관리</title>
  <link rel="stylesheet" href="../../../static/css/common.css" th:href="@{/static/css/common.css}" /> 
  <script src="https://kit.fontawesome.com/f31fa860a2.js" crossorigin="anonymous"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.12.1/dist/cdn.min.js"></script>
</head>
<body>
  <main class="relative w-full h-full bg-gray-100" layout:fragment="content">
    <div class="relative w-full h-screen pt-16 pl-0 lg:pl-56">
      <div class="flex flex-col h-full gap-6 p-4 overflow-y-auto">
        <div class="p-4 text-sm font-semibold bg-white border border-transparent rounded-md shadow-md text-medium shadow-gray-200/80">
          <i class="text-gray-400 fa-solid fa-book fa-lg"></i>
          등록 자료 관리
        </div>
        <div x-data="{tabs: 0}" class="flex flex-col font-semibold">
          <div class="flex" >
            <div class="py-2 px-6 rounded-t-lg rounded-b-none text-sm shadow" :class="tabs === 0 ? 'bg-white text-black' : 'bg-gray-400 text-white'" @click="tabs=0">일반검색</div>
            <div class="py-2 px-6 rounded-t-lg rounded-b-none text-sm shadow" :class="tabs === 1 ? 'bg-white text-black': 'bg-gray-400 text-white'" @click="tabs=1">상세검색</div>
          </div>
          <div class="flex px-4 py-4 bg-white border border-transparent rounded-bl-md rounded-br-md rounded-tr-md shadow-md text-medium shadow-gray-200/80">
            <!--일반검색-->
            <div class="w-full flex gap-4" x-show="tabs === 0">
              <div class="flex items-baseline gap-4">
                <label class="text-sm mb-4" for="">입수구분</label>
                <select class="rounded-md border border-gray-300 text-sm shadow">
                  <option value="">적용안함</option>
                  <option value="">구입</option>
                  <option value="">기증</option>
                </select>               
              </div>
              <div class="flex items-baseline gap-4">
                <label class="text-sm mb-4" for="">입력일</label>
                <div class="flex items-baseline gap-4">
                  <input class="px-4 py-2 rounded-md border border-gray-300 text-sm shadow" type="date">
                  <span>~</span>
                  <input class="px-4 py-2 rounded-md border border-gray-300 text-sm shadow" type="date">
                </div>
              </div>
              <div class="flex items-baseline gap-4">
                <button class="px-6 py-2 rounded-lg bg-gray-600 text-sm text-white whitespace-nowrap" type="button">검색</button>
                <button class="px-6 py-2 rounded-lg bg-gray-600 text-sm text-white whitespace-nowrap" type="button">상세검색</button>
              </div>
            </div>
            <!--상세검색-->        
            <div class="w-full flex flex-col gap-4" x-show="tabs === 1">
              <div class="flex items-baseline gap-4">
                <select class="rounded-md border border-gray-300 text-sm shadow">
                  <option value="">전체</option>
                </select>
                <input class="w-full px-4 py-2 rounded-md border border-gray-300 text-sm shadow" type="text">
                <select class="rounded-md border border-gray-300 text-sm shadow">
                  <option value="">AND</option>
                </select>
              </div>
              <div class="flex items-baseline gap-4">
                <select class="rounded-md border border-gray-300 text-sm shadow">
                  <option value="">전체</option>
                </select>
                <input class="w-full px-4 py-2 rounded-md border border-gray-300 text-sm shadow" type="text">
                <select class="rounded-md border border-gray-300 text-sm shadow">
                  <option value="">AND</option>
                </select>
              </div>
              <div class="flex items-baseline gap-4">
                <select class="rounded-md border border-gray-300 text-sm shadow">
                  <option value="">전체</option>
                </select>
                <input class="w-full px-4 py-2 rounded-md border border-gray-300 text-sm shadow" type="text">
                <select class="rounded-md border border-gray-300 text-sm shadow">
                  <option value="">AND</option>
                </select>
              </div>
              <div class="flex items-baseline gap-4">
                <select class="rounded-md border border-gray-300 text-sm shadow">
                  <option value="">전체</option>
                </select>
                <input class="w-full px-4 py-2 rounded-md border border-gray-300 text-sm shadow" type="text">
                <button class="px-6 py-2 rounded-lg bg-gray-600 text-sm text-white whitespace-nowrap" type="button">검색</button>
              </div>
            </div> 
          </div>
        </div>                        
        <div class="p-4 bg-white border border-transparent rounded-md shadow-md shadow-gray-200/80">
          <div class="mb-4">
            <div class="flex justify-between mb-4">
              <select class="rounded-md border text-sm border-gray-300 shadow">
                <option value="">10</option>
                <option value="">20</option>
                <option value="">50</option>
                <option value="">100</option>
              </select>

              <div class="flex gap-4">
                <div class="">
                  <div class="relative" x-data="{dropdownFilter: false}">
                    <!-- Dropdown toggle button -->
                    <button @click="dropdownFilter = ! dropdownFilter" class="flex items-center px-6 py-2 text-sm text-white bg-gray-600 rounded-md whitespace-nowrap">                 
                      필터
                    </button>
                    <!-- Dropdown list -->
                    <div x-show="dropdownFilter" class="absolute right-0 mt-2 bg-white rounded-md shadow w-56 z-20 overflow-hidden">
                      <div href="#" class="flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-400 hover:text-white">
                        <input class="mr-2" type="checkbox">
                        전체
                      </div>
                      <div href="#" class="flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-400 hover:text-white">
                        <input class="mr-2" type="checkbox">
                        등록번호
                      </div>
                      <div href="#" class="flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-400 hover:text-white">
                        <input class="mr-2" type="checkbox">
                        도서상태
                      </div>
                      <div href="#" class="flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-400 hover:text-white">
                        <input class="mr-2" type="checkbox">
                        서명
                      </div>
                      <div href="#" class="flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-400 hover:text-white">
                        <input class="mr-2" type="checkbox">
                        저자
                      </div>
                      <div href="#" class="flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-400 hover:text-white">
                        <input class="mr-2" type="checkbox">
                        출판사
                      </div>
                      <div href="#" class="flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-400 hover:text-white">
                        <input class="mr-2" type="checkbox">
                        분류기호
                      </div>
                      <div href="#" class="flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-400 hover:text-white">
                        <input class="mr-2" type="checkbox">
                        저자기호
                      </div>
                      <div href="#" class="flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-400 hover:text-white">
                        <input class="mr-2" type="checkbox">
                        권차
                      </div>
                      <div href="#" class="flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-400 hover:text-white">
                        <input class="mr-2" type="checkbox">
                        복본
                      </div>
                      <div href="#" class="flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-400 hover:text-white">
                        <input class="mr-2" type="checkbox">
                        별치
                      </div>
                      <div href="#" class="flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-400 hover:text-white">
                        <input class="mr-2" type="checkbox">
                        ISBN
                      </div>
                      <div href="#" class="flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-400 hover:text-white">
                        <input class="mr-2" type="checkbox">
                        소장위치
                      </div>
                      <div href="#" class="flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-400 hover:text-white">
                        <input class="mr-2" type="checkbox">
                        반입구분
                      </div>
                      <div href="#" class="flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-400 hover:text-white">
                        <input class="mr-2" type="checkbox">
                        등록일
                      </div>
                      <div href="#" class="flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-400 hover:text-white">
                        <input class="mr-2" type="checkbox">
                        수정일
                      </div>
                      <div class="flex justify-between gap-4 px-4 py-2">
                        <button class="px-6 py-2 rounded-lg border bg-gray-100 text-sm whitespace-nowrap" type="reset">초기화</button>
                        <button class="px-6 py-2 rounded-lg bg-gray-600 text-sm text-white whitespace-nowrap" type="button">확인</button>
                      </div>
                    </div>
                  </div> 
                </div>
              </div>         
            </div>
            <div class="flex justify-between gap-4">
              <div class="">
                <button class="px-6 py-2 text-sm bg-gray-200 rounded-lg" type="button" @click="">입력</button>
                <button class="px-6 py-2 text-sm bg-gray-200 rounded-lg" type="button">등록번호 부여</button>
                <button class="px-6 py-2 text-sm bg-gray-200 rounded-lg" type="button">수정</button>
              </div>
              <button class="px-6 py-2 text-sm bg-gray-600 text-white rounded-lg" type="button">삭제</button>
            </div>
            <div class="">
              1 - 10/1000
            </div>
          </div>
          <div class="relative min-h-screen overflow-scroll">
            <table class="w-full rounded-md table-auto">
              <thead class="overflow-auto bg-gray-200">
                <tr class="border-b border-gray-400 whitespace-nowrap">
                  <th class="p-2">
                    <div class="flex items-center">
                      <input class="" type="checkbox">
                    </div>
                  </th>
                  <th class="px-4 py-2">
                    순번                                           
                  </th>
                  <th class="px-4 py-2">등록번호</th>
                  <th class="px-4 py-2">도서상태</th>
                  <th class="px-4 py-2">서명</th>
                  <th class="px-4 py-2">저자</th>
                  <th class="px-4 py-2">
                    출판사
                  </th>
                  <th class="px-4 py-2">분류기호</th>
                  <th class="px-4 py-2">저자기호</th>
                  <th class="px-4 py-2">권차</th>
                  <th class="px-4 py-2">복본</th>
                  <th class="px-4 py-2">별치</th>
                  <th class="px-4 py-2">ISBN</th>
                  <th class="px-4 py-2">소장위치</th>
                  <th class="px-4 py-2">반입구분</th>
                  <th class="px-4 py-2">등록일</th>
                  <th class="px-4 py-2">수정일</th>
                </tr>
              </thead>
              <tbody class="">
                <tr class="border-b border-dashed whitespace-nowrap focus:bg-sky-600 focus:text-white focus-within:text-white focus-within:bg-sky-600" tabIndex="0">
                  <td class="p-2">
                    <div class="flex items-center">
                      <input class="" type="checkbox">
                    </div>
                  </td>
                  <td class="px-4 py-2">
                    
                  </td>
                  <td class="px-4 py-2">1</td>
                  <td class="px-4 py-2">대출가능</td>
                  <td class="px-4 py-2">길다란제목으로테스트합니다</td>
                  <td class="px-4 py-2">저자입니다1</td>
                  <td class="px-4 py-2">1출판사입니다</td>
                  <td class="px-4 py-2">1</td>
                  <td class="px-4 py-2">1</td>
                  <td class="px-4 py-2">1</td>
                  <td class="px-4 py-2">1</td>
                  <td class="px-4 py-2">1</td>
                  <td class="px-4 py-2">14342342342424242</td>
                  <td class="px-4 py-2">자료실이빈다</td>
                  <td class="px-4 py-2">구입</td>
                  <td class="px-4 py-2">2021.04.02</td>
                  <td class="px-4 py-2">2021.04.02</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>  
    </div>
  </main>
  <script layout:fragment="javascript">
    const searchBook = function(){
      return {
        searchOption:'',
        searchInput:'',
        books:null,
        fetchBook(){
          let keyword = this.searchInput;

          let formData = new FormData();

          let pageSize = 10;

          formData.set('', keyword);
          formData.set('', );
          formData.set('pageSize', pageSize);

          fetch('/', {method: 'POST', body: formData})
          .then(res => res.json())
          .then(json => console.log(json))
          .catch(error => {console.error('Error:', error);});
        },
        sorted: {
          field: 'title',
          rule: 'asc'
        },
        initData() {
          this.items = data.sort(this.compareOnKey('title', 'asc'))
          this.showPages()
        },
        compareOnKey(key, rule) {
          return function(a, b) { 
            if (key === 'title' || key === 'descripiton' || key === 'price' || key === 'category') {
              let comparison = 0
              const fieldA = a[key].toUpperCase()
              const fieldB = b[key].toUpperCase()
              if (rule === 'asc') {
                if (fieldA > fieldB) {
                  comparison = 1;
                } else if (fieldA < fieldB) {
                  comparison = -1;
                }
              } else {
                if (fieldA < fieldB) {
                  comparison = 1;
                } else if (fieldA > fieldB) {
                  comparison = -1;
                }
              }
              return comparison
            } else {
              if (rule === 'asc') {
                return a.brand - b.brand
              } else {
                return b.brand - a.brand
              }
            }
          }
        },
        sort(field, rule) {
          this.items = this.items.sort(this.compareOnKey(field, rule))
          this.sorted.field = field
          this.sorted.rule = rule
        },
      }
    }

  </script>
</body>    
</html>