<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/defaultLayout}"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security"> 
<head>    
  <title>삼사라 도서관</title>
  <th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/static/css/common.css}" />      
  </th:block>
</head>     
<body>    
  <main class="container max-w-screen-lg mx-auto" layout:fragment="content">
    <div class="h-12 bg-gray-50">
      도서관 자리 예약
    </div>
    <section>
        <div class="relative flex items-center justify-between">
          
        </div>     
    </section>
    <div>
      <div class="flex gap-4">
        <a></a>
      </div>
    </div>
  </main>
  <footer>

  </footer>
</body>    
</html>  