<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/defaultLayout}"> 
<head>    
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Index Page</title>
  <th:block layout:fragment="css">
    <link rel="stylesheet" type="text/css" href="../static/css/common.css" />   
  </th:block>
</head>      
<body>    
  <main class="max-w-screen-lg container mx-auto">
    <div class="h-12 bg-gray-50">
      
    </div>
    <section>
      <div class="flex gap-4 justify-center items-center">
        <div class="w-[300px] h-[300px] rounded-lg overflow-hidden object-cover"></div>
      </div>
    </section>
    <div>
      <div class="flex gap-4">
        <a></a>
      </div>
    </div>
  </main>
  <footer>

  </footer>
</body>    
</html> 