<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/defaultLayout}"> 
<head>    
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Index Page</title>
  <link rel="stylesheet" th:href="@{/static/css/common.css}" />      
  <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script> 
</head>      
<body>    
  <main class="container max-w-screen-lg mx-auto" layout:fragment="content">
    <div class="max-w-sm pt-20 mx-auto">
      <div class="mb-4 text-center">
        <h1 class="text-2xl">회원가입</h1>
      </div>
      <form>
        <div class="mb-4">
          <label htmlFor="mem_id">
            <span class="">아이디<span class="text-red-400 ">*</span></span>
            <div class="flex items-center gap-4">
              <input id="mem_id" class="w-full px-6 py-2 border border-gray-400 rounded-lg form-input focus:border-sky-400 focus:ring focus:ring-sky-400" type="text" 
              onchange="valid();"
              />
              <button class="px-6 py-2 text-white border rounded-lg bg-sky-400 border-sky-400 hover:shadow active:bg-sky-500 active:border-sky-500 whitespace-nowrap" 
              type="button" onClick="">
              중복확인
              </button>
            </div>
          <div class="sr-only">
            <span class="">이메일이 </span>
          </div>
        </div>
        <div class="mb-4">
          <label htmlFor="mem_name">
            <span class="">이름<span class="text-red-400 ">*</span></span>
            <input id="mem_name" class="w-full px-6 py-2 border border-gray-400 rounded-lg form-input focus:border-sky-400 focus:ring focus:ring-sky-400" type="text" 
            onchange="valid();"
            />
          </label>
          <div class="sr-only">
            <span class="">이메일이 </span>
          </div>
        </div>
        <div class="mb-4">
          <label htmlFor="mem_pw">
            <span class="">비밀번호<span class="text-red-400 ">*</span></span>
            <input id="mem_pw" class="w-full px-6 py-2 border border-gray-400 rounded-lg forms-input focus:border-sky-400 focus:ring focus:ring-sky-400" type="password" />
          </label>
        </div>
        <div class="mb-4">
          <label htmlFor="mem_repw">
            <span class="">비밀번호 확인<span class="text-red-400 ">*</span></span>
            <input id="mem_repw" class="w-full px-6 py-2 border border-gray-400 rounded-lg forms-input focus:border-sky-400 focus:ring focus:ring-sky-400" type="password" />
          </label>
        </div>
        <div class="mb-4">
          <label htmlFor="mem_email">
            <span class="">이메일<span class="text-red-400 ">*</span></span>
            <input id="mem_email" class="w-full px-6 py-2 border border-gray-400 rounded-lg forms-input focus:border-sky-400 focus:ring focus:ring-sky-400" type="email" />
          </label>
        </div>
        <div class="mb-4">
          <label htmlFor="mem_nick">
            <span class="flex items-center">주소 <span class="text-red-400 ">*</span></span>
            <div class="flex flex-col gap-4">
              <input id="mem_postcode" class="w-2/5 px-6 py-2 border border-gray-400 rounded-lg forms-input focus:border-sky-400 focus:ring focus:ring-sky-400" type="text" placeholder="우편번호" />
              <div class="flex items-center gap-4">  
                <input id="mem_address" class="w-full px-6 py-2 border border-gray-400 rounded-lg forms-input focus:border-sky-400 focus:ring focus:ring-sky-400" type="text" placeholder="주소" />
                <button class="px-6 py-2 text-white border rounded-lg bg-sky-400 border-sky-400 hover:shadow active:bg-sky-500 active:border-sky-500 whitespace-nowrap" 
                 type="button" onClick="execDaumPostcode();">
                 검색
                </button>
              </div>
              <input id="mem_detailAddress" class="w-full px-6 py-2 border border-gray-400 rounded-lg forms-input focus:border-sky-400 focus:ring focus:ring-sky-400" type="text" placeholder="상세주소"/>
              <input id="mem_extraAddress" class="w-full px-6 py-2 border border-gray-400 rounded-lg forms-input focus:border-sky-400 focus:ring focus:ring-sky-400" type="text" placeholder="나머지주소"/>
            </div>
          </label>
        </div>
        <div class="mb-4">
          <label htmlFor="mem_phone">
            <span class="flex items-center">연락처 <span class="text-red-400 ">*</span></span>
            <input id="mem_phone" class="w-full px-6 py-2 border border-gray-400 rounded-lg forms-input focus:border-sky-400 focus:ring focus:ring-sky-400" type="text" />
          </label>
        </div>
        <div class="mb-4">
          <label class="flex items-center" htmlFor="">
            <input class="w-4 h-4 mr-2 rounded form-checkbox text-sky-400 focus:ring-transparent" type="checkbox"/>
            <span class="">개인정보보호 정책에 동의합니다 <a class="ml-2 underline" href="/" target="_blank">상세보기</a></span>
          </label>
        </div>
        <div class="mb-4">
          <label class="flex items-center" htmlFor="">
            <input class="w-4 h-4 mr-2 rounded form-checkbox text-sky-400 focus:ring-transparent" type="checkbox"/>
            <span class="">회원가입 약관에 동의합니다<a class="ml-2 underline" href="/" target="_blank">상세보기</a></span>
          </label>
        </div>
        <div class="mb-4">
          <button class="w-full px-6 py-2 text-white border rounded-lg bg-sky-400 border-sky-400 hover:shadow active:bg-sky-500 active:border-sky-500" 
          type="button" onClick="location.href='/'">
            회원가입
          </button>
        </div>
      </form>
    </div>
  </main>
  <footer>

  </footer>
  <script layout:fragment="javascript">


    function execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if(data.userSelectedType === 'R'){
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                    document.getElementById("mem_extraAddress").value = extraAddr;
                
                } else {
                    document.getElementById("mem_extraAddress").value = '';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('mem_postcode').value = data.zonecode;
                document.getElementById("mem_address").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("mem_detailAddress").focus();
            }
        }).open();
    }
  </script>
</body>    
</html> 